@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fdfcfc;

}

 /*HEDER SUPERIOR*/


.header__superior{
    max-width: 1220px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo img{
    width: 250px;
    
}
.search imput{
    width: 400px;
    padding: 20px;

}
/*BARRA MENU*/

.container__menu{
    width: 100%;
    height: 60px;
    background: #023877;
    padding: 0px 20px;

}
.menu{
    max-width: 3800px;
    margin: center;
    height: 25%;

}

nav{
    height: 100%;

}
nav > ul{
   height: 100%;
   display: flex; 
 
}
nav ul li{ 
    height: 100%;
    list-style: none;
    position: relative;
}
nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: rgb(252, 250, 250);
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
}

nav > ul > li:first-child > a{
    background-image: url(fotos/casa2.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 18px 35px;
}

nav > ul > li:first-child:hover > a{
    background-image: url(fotos/casa2.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center center;   
}

#selected{
    transform: scale(1.1);
    background-color: #0074c7;
    box-shadow: 20px 10px 10px 0px rgba(0,0,0,0.5);
}

nav > ul > li > a:hover{
    transform: scale(1.1);
    background: #0074c7;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

/*SUBMENU*/

nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #fcfbfb;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    z-index: 10;
    transition: all 300ms ease;
}

nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;

}

nav ul li ul:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}
nav ul li ul li a{
    display: block;
    color: #0099e9;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;

}

nav ul li ul li a:hover{
    background: #0074c7;
    color: #fff;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

}

/*ELEMENTOS RESPONCIVOS*/

.icon__menu{
    font-size: 35px;
    color: white; 
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

#label__Check{
    width: 30px;
    height: 100%;
    display: none;
}

#Check__menu{
    display: none;
}

@media screen and (max-width: 500px){
    
    .search input{
        display: flex;
    }

    .header__superior{
        padding: 10px;
    }

    .logo img{
        width: 180px;
    }

    nav > ul{
        flex-direction: column;
        background-color: #023877;
        position:center;
        left: 0px;
        top: 15px;
        width: 100%;
        height: 0px;
        transition: all 700ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
    }

    nav > ul > li > a:hover{
        transform: scale(1);
        
    }

    nav ul li ul{
        left: 90px;

    }
    nav > ul > li:hover ul{
        top: 50px;
        
    }
    nav > ul > li:first-child a{
        background-position: 20px;

    }
    #selected{
        transform: scale(1);
    }

    #lebel__check{
        display: block;
    }

    .icon__menu{
        display: flex;
    }

    #Check__menu:checked ~ nav > ul{
        height: 400px;
        visibility: visible;
        opacity: 10;
    }
}


